html, body {
    margin: 0;
    padding: 0;
}

.bg-danger, .bg-success {
	padding: 0 5px;
}

#footer {
	color:yellow;
	background-color:blue;
	font-size:75%;
	font-weight:bold;
	font-family:Arial,Helvetica;
	border:1px solid black;
}

#setname {
	text-align: center;
}

.container {
	max-width: 100%;
}

#home {
	background: #d0ecd9;
	border: 1px solid black;
	padding: 1.5em;
}

#rss-wca {
	margin-top: 2em;
}

.cellpadding {
   padding-right: 5px;
}

.no-padding {
	padding:0;
}

.flex-item {
	border: 1px solid black;
	background:#d0ecd9;
	margin: 5px;
}

.simple-list {
	list-style-type:none;
	margin: 0;
	padding: 0;
	text-align:center;
	font-weight: bold;
}

@media (min-width: 1650px) {
    .container{
        max-width: 1600px;
    }
    .row{
        max-width: 1600px;
    }
}