
.bg-danger, .bg-success {
	padding: 0 5px;
}

.container {
	max-width: 100%;
}

#home {
	background: #d0ecd9;
	border: 1px solid black;
	padding: 1em;
}

#rss-wca {
	margin-top: 2em;
	border: 1px solid black;
	padding: 1.5em;
}

.cellpadding {
   padding-right: 5px;
}

.no-padding {
	padding:0;
}

.flex-item {
	border: 2px solid black;
	background:#d0ecd9;
	margin: 5px;
}

.flex-item-white {
	border: 1px solid black;
	background: white;
	margin: 5px;
	font-size:1.5em;
}

.simple-list {
	list-style-type:none;
	margin: 0;
	padding: 0;
	text-align:center;
	font-weight: bold;
}

/*@media (min-width: 1250px) {
    .container{
        max-width: 1600px;
    }
    .row{
        max-width: 1600px;
    }
}*/